div[id*="kalimah"] .widget-inside
{
 background-image: url("../images/background.png");
 }
.switch {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.switch input[type="checkbox"],
.switch input[type="radio"] {
  display: none;
}
.switch input[type="checkbox"] + span,
.switch input[type="radio"] + span {
  display: block;
  position: relative;
  vertical-align: middle;
  border: 1px solid #e3e3e3;
  border-radius: 15px;
  background-color: #e3e3e3;
  cursor: pointer;
  height: 25px;
  width: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition-property: border, background-color;
  -moz-transition-property: border, background-color;
  transition-property: border, background-color;
}
.switch input[type="checkbox"] + span, .switch input[type="checkbox"] + span:after, .switch input[type="checkbox"] + span:before,
.switch input[type="radio"] + span,
.switch input[type="radio"] + span:after,
.switch input[type="radio"] + span:before {
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.switch input[type="checkbox"] + span:after, .switch input[type="checkbox"] + span:before,
.switch input[type="radio"] + span:after,
.switch input[type="radio"] + span:before {
  display: inherit;
  content: " ";
  background: #ffffff;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
}
.switch input[type="checkbox"] + span:before,
.switch input[type="radio"] + span:before {
  border-radius: 15px;
  background-color: #e3e3e3;
  height: 25px;
  width: 48px;
}
.switch input[type="checkbox"] + span:after,
.switch input[type="radio"] + span:after {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 14px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  height: 25px;
  width: 28px;
}
.switch input[type="checkbox"]:checked + span,
.switch input[type="radio"]:checked + span {
  border-color: #2ecc71;
  background-color: #2ecc71;
}
.switch input[type="checkbox"]:checked + span:before,
.switch input[type="radio"]:checked + span:before {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
.switch input[type="checkbox"]:checked + span:after,
.switch input[type="radio"]:checked + span:after {
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  -ms-transform: translateX(20px);
  -o-transform: translateX(20px);
  transform: translateX(20px);
}
.switch input[type="checkbox"]:disabled + span, .switch input[type="checkbox"]:disabled:checked + span,
.switch input[type="radio"]:disabled + span,
.switch input[type="radio"]:disabled:checked + span {
  background-color: #e3e3e3;
  border-color: #e3e3e3;
  cursor: default;
  box-shadow: none;
}
.switch input[type="checkbox"]:disabled + span:before, .switch input[type="checkbox"]:disabled:checked + span:before,
.switch input[type="radio"]:disabled + span:before,
.switch input[type="radio"]:disabled:checked + span:before {
  background-color: #e3e3e3;
}
.switch.switch-warning input:checked + span {
  background-color: #e67e22;
  border-color: #e67e22;
  box-shadow: inset 0px 0px 0px 16px #e67e22;
}
.switch.switch-danger input:checked + span {
  background-color: #e74c3c;
  border-color: #e74c3c;
  box-shadow: inset 0px 0px 0px 16px #e74c3c;
}
.switch.switch-info input:checked + span {
  background-color: #3498db;
  border-color: #3498db;
  box-shadow: inset 0px 0px 0px 16px #3498db;
}

/*# sourceMappingURL=ios7-switches.css.map */
input[type=range] {
  -webkit-appearance: none;
  margin: 0;
  width: 200px;
  float: left;
  background: transparent;
}
input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  background: #ccc;
  background: -webkit-linear-gradient(top, #bbb, #ddd);
  background: -moz-linear-gradient(top, #bbb, #ddd);
  background: linear-gradient(top, #bbb, #ddd);

  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;

  border: 1px solid #aaa;
  height: 5px;
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
  background: #8DCA09;
  background: -webkit-linear-gradient(top, #8DCA09, #72A307);
  background: -moz-linear-gradient(top, #8DCA09, #72A307);
  background: linear-gradient(top, #8DCA09, #72A307);

  -webkit-box-shadow: inset 0 2px 2px rgba(255,255,255,0.5), 0 2px 8px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0 2px 2px rgba(255,255,255,0.5), 0 2px 8px rgba(0,0,0,0.2);
  box-shadow: inset 0 2px 2px rgba(255,255,255,0.5), 0 2px 8px rgba(0,0,0,0.2);

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  border: 1px solid #496805;
  width: 16px;
  height: 16px;
  cursor: pointer;
   -webkit-appearance: none;
   margin-top: -6px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
/*  background: #367ebd;*/
}
input[type=range]::-moz-range-track {
  background: #ccc;
  background: -webkit-linear-gradient(top, #bbb, #ddd);
  background: -moz-linear-gradient(top, #bbb, #ddd);
  background: linear-gradient(top, #bbb, #ddd);

  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;

  border: 1px solid #aaa;
  height: 4px;
}
input[type=range]::-moz-range-thumb {
   background: #8DCA09;
  background: -webkit-linear-gradient(top, #8DCA09, #72A307);
  background: -moz-linear-gradient(top, #8DCA09, #72A307);
  background: linear-gradient(top, #8DCA09, #72A307);

  -webkit-box-shadow: inset 0 2px 2px rgba(255,255,255,0.5), 0 2px 8px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0 2px 2px rgba(255,255,255,0.5), 0 2px 8px rgba(0,0,0,0.2);
  box-shadow: inset 0 2px 2px rgba(255,255,255,0.5), 0 2px 8px rgba(0,0,0,0.2);

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  border: 1px solid #496805;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
input[type=range]::-ms-track {
  /*background: #ccc;
  background: -webkit-linear-gradient(top, #bbb, #ddd);
  background: -moz-linear-gradient(top, #bbb, #ddd);
  background: linear-gradient(top, #bbb, #ddd);*/

  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;

  border: 10px solid transparent;
  height: 4px;
}
input[type=range]::-ms-fill-lower {
 background: #ccc;
  background: -webkit-linear-gradient(top, #bbb, #ddd);
  background: -moz-linear-gradient(top, #bbb, #ddd);
  background: linear-gradient(top, #bbb, #ddd);

  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;

  border: 1px solid transparent;
  height: 4px;
}
input[type=range]::-ms-fill-upper {
  background: #ccc;
  background: -webkit-linear-gradient(top, #bbb, #ddd);
  background: -moz-linear-gradient(top, #bbb, #ddd);
  background: linear-gradient(top, #bbb, #ddd);

  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;

  border: 1px solid transparent;
  height: 4px;
}
input[type=range]::-ms-thumb {
  background: #8DCA09;
  background: -webkit-linear-gradient(top, #8DCA09, #72A307);
  background: -moz-linear-gradient(top, #8DCA09, #72A307);
  background: linear-gradient(top, #8DCA09, #72A307);

  -webkit-box-shadow: inset 0 2px 2px rgba(255,255,255,0.5), 0 2px 8px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0 2px 2px rgba(255,255,255,0.5), 0 2px 8px rgba(0,0,0,0.2);
  box-shadow: inset 0 2px 2px rgba(255,255,255,0.5), 0 2px 8px rgba(0,0,0,0.2);

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  border: 1px solid #496805;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
 /* background: #3071a9;*/
}
input[type=range]:focus::-ms-fill-upper {
 /* background: #367ebd;*/
}


.kalimah-widget-radio input[type=radio] {
  display:none;
  }
  
  .kalimah-widget-radio label {
	margin-left:0px !important;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
.kalimah-widget-radio  input[type=radio] + span {
    float: left;
    padding: .5em 1em;
    cursor: pointer;
    border: 1px solid #28608f;
    margin-right: -1px;
	margin-left: 0px !important;
    color: #B5C4E4;
    background-color: #428bca;
   }
   
 .kalimah-widget-radio  input[type=radio]:not(:checked) + span:hover {
    background-color: #66A2DA;
   }
   
.kalimah-widget-radio label:first-of-type span{
     -webkit-border-top-left-radius: 5px;
		-webkit-border-bottom-left-radius: 5px;
		-moz-border-radius-topleft: 5px;
		-moz-border-radius-bottomleft: 5px;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
    }
    
.kalimah-widget-radio  label:last-of-type span {
     -webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
  
.kalimah-widget-radio input[type=radio]:checked + span {
    background-color: #2d70ae;
    font-weight: bold;
	color: white;
}

   
   
.kalimah-widget-section-start h2
{
	   font-size: 16px;
    font-weight: bold;
}

.kalimah-widget-section-start .form-title
{
	width: 100px;
	float: left;
	padding-top: 6px;
	font-family:OpenSans, "Trebuchet MS";
	font-size: 13px;
}

.kalimah-widget-section-start .form-bit
{
	float: left;
	width: 265px;
}

.kalimah-widget-section-start .form-bit textarea
{
	resize: none;
}

.kalimah-widget-input input
{
	width: 100%;
}


.kalimah-shortcode-section-start h2
{
	   font-size: 16px;
    font-weight: bold;
}

.kalimah-shortcode-section-start .form-title
{
	width: 100px;
	float: left;
	padding-top: 6px;
	font-family:OpenSans, "Trebuchet MS";
	font-size: 13px;
}

.kalimah-shortcode-section-start .form-bit
{
	float: left;
	width: 265px;
}

.kalimah-shortcode-section-start .form-bit textarea
{
	resize: none;
}

.kalimah-shortcode-input input
{
	width: 100%;
}


.clearfix:after {
	clear:both;
	content:' ';
	display:block;
	font-size:0;
	line-height:0;
	visibility:hidden;
	width:0;
	height:0
}

.kalimah-widget-section-start > div, .kalimah-widget-softsection-start > div
{
	padding: 10px 0;
}


.form-bit > span.desc {
    clear: both;
    display: block;
    font-size: 10px;
    margin-top: 5px;
    width: 100%;
}

.image-selected
{
	border: 4px solid #EA9A3F !important;
	-webkit-border-radius: 5px;
	border-radius: 4px;
	padding: 1px !important;
}



.kalimah-widget-media img {
    border: 2px solid #BFBFBF;
    background-color: #FFF;
    border-radius: 4px;
    cursor: pointer;
    float: left;
    height: 85px;
    margin-right: 7px;
    padding: 3px;
}

.kalimah-widget-images .form-bit
{
	margin: 10px 0;
	max-height: 315px;
	overflow-y: auto;
}

.kalimah-widget-images input[type="radio"]
{
	display: none;
}


.kalimah-widget-images img {
   border: 2px solid #BFBFBF;
	background-color: #FFF;
	border-radius: 4px;
	cursor: pointer;
	float: left;
	height: 70px;
	width: 70px;
	margin-right: 7px;
	padding: 3px;
}
